*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.wrapper{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(60deg, rgb(62, 233, 239), rgb(163, 37, 136));
    padding: 10px;
}

.box{
    width: 100%;
    max-width: 500px;
    background: rgb(220, 220, 220);
    border-radius: 20px;
    padding: 40px 30px 70px;
    margin: 100px auto 30px;
}

.box h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.box h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #c4c5c9;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.5)
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(57, 202, 207);
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

button:hover{
    background: rgb(47, 168, 172);
}


ul li{
    list-style: none;
    font-size: 22px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(done.png);
}

ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #c4c5c9;
}